body{
    background-color: rgb(255, 255, 255);
}

.footer-container {
    margin-top: 1%;
    /* background-color: #ffffff; */
    color: #000000;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    /* position: absolute; */
} 

.footer-container a {
    color: #000000;
    margin: 0 5px;
}

.navbar-toggler-icon {
    background-image: url('tool.png'); 
    background-size: 100%;
}
.row {
    border: 2px solid red;
}
.card {
    width: 100%;
}
